@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Rubik:wght@600&display=swap');
[data-tab-content] {
    display: none;
  }
  .active[data-tab-content]{
    display: block;
  }
  .tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid cornflowerblue;
    color: midnightblue;
  }
  .tabs li{
    width: 15%;
    text-align: center;
    font-family: "Rubik", sans-serif;
  }
  .tab{
    cursor: pointer;
    padding: 10px;
  }
  .tab.active{
    background-color: lightsteelblue;
  }
  .tab:hover{
    color: firebrick;
    background-color: #d9d9d9;
  }
  /*--------------------*/
  body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(dodgerblue, blue, darkblue);
    color: #F0E68C;
    font-family: "Montserrat", sans-serif;
  }
  h1{
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  .content{
    margin: 0 20px;
    text-align: center;
  }
  .content h2{
    color: cadetblue;
  }
  .content h3{
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  /*--------------------*/


  /* Welcome Section */
  #welcome h2{
    color: #40E0D0;
  }
  #welcome img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 3em;
    border: 1px solid silver;
  }
  audio:hover{
    transform: scale(1.1);filter: drop-shadow(2px 3px 3px #40E0D0);
  }
  /*Waving hand animation*/
.waving-hand {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Waves 5 times */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  /*--------------------*/
