@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Rubik:wght@600&display=swap');
[data-tab-content] {
    display: none;
  }
  .active[data-tab-content]{
    display: block;
  }
  .tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid cornflowerblue;
    color: midnightblue;
  }
  .tabs li{
    width: 15%;
    text-align: center;
    font-family: "Rubik", sans-serif;
  }
  .tab{
    cursor: pointer;
    padding: 10px;
  }
  .tab.active{
    background-color: lightsteelblue;
  }
  .tab:hover{
    color: firebrick;
    background-color: #d9d9d9;
  }
  /*--------------------*/
  body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(dodgerblue, blue, darkblue);
    color: #F0E68C;
    font-family: "Montserrat", sans-serif;
  }
  h1{
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  .content{
    margin: 0 20px;
    text-align: center;
  }
  .content h2{
    color: cadetblue;
  }
  .content h3{
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  /*--------------------*/


  /* Welcome Section */
  
  /*--------------------*/
